@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600&family=Monoton&family=Nunito+Sans:ital,wght@0,200;0,400;0,600;0,700;0,800;1,200;1,300;1,500;1,700&family=Rubik+Dirt&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-y: scroll;
  scrollbar-width: none;
  background-color: #f5f5f5;
  font-family: 'Nunito Sans', sans-serif;
  /* margin: auto 25px; */
  /* border: 1px solid; */
  /* background-color: #e8e8e8; */
  /* background-color: #F8D3F6; */
  /* background-color: #EFE3F7; */
  background-color: #EFDDF6;
}

body::-webkit-scrollbar {
  display: none;
  /* Hide the scrollbar */
}

:root {
  --light_black: #6d6d6d;
}

.main_container {
  /* width: 100%; */
  /* margin-left: 0; */
  margin: auto 25px;
  /* border: 1px solid; */


}

.navbar .left .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .left img {
  height: 30px;
  width: 30px;
}

.navbar .logo {
  text-decoration: none;
  color: #1D1D28;
  font-size: 16px;
}

.navbar .logo h1 {
  color: #6E0E88;
}

@media (max-width:800px) {
  .navbar .logo {

    font-size: 10px;
  }

  .navLinks {
    padding: 14px;
  }
}

.navbar {
  display: flex;
  height: 70px;
  /* border: 1px solid; */
  justify-content: space-between;
  padding: 0 160px;
  align-items: center;
  margin-top: 30px;
}

.navLinks span {
  margin-left: 3px;
}



.navbar .navLinks {
  font-size: 18px;
  padding: 10px;
  text-transform: capitalize;
  text-decoration: none;
  color: #464C4F;
  border: 1px solid #464C4F;
  margin-right: 16px;
  font-weight: 500;
  border-radius: 5px;
  text-align: center;
  /* width: 0px; */
  transition: all ease-in-out .2s;

  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 70px; */
  width: 130px;

  /* border: 1px solid red; */
}

.mid_mobile_view {
  display: none;
}


@media (max-width:800px) {
  .navbar .navLinks span {
    display: none;
  }

  .mid_mobile_view {
    display: block;
  }

  .navbar .navLinks .desktop_view {

    display: none;
  }

  .navbar .navLinks {
    border: none;
    width: 90px;
    display: none;
  }

  .navbar {
    width: 90%;
    padding: 0 20px;

  }

  .navbar .left {
    /* border: 1px solid; */
    /* width: 200px; */
  }

  .navbar .mid {
    display: flex;
    margin: 0 100px 0 30px !important;
  }

  .mid_mobile_view {
    text-align: center;
    margin: 10px 0;
  }

  .mid_mobile_view .mobile_view {
    /* border: 1px solid; */
    padding: 10px 15px;
    margin: 0 10px;
    border: 1px solid #464C4F;
    /* margin-right: 16px; */
    font-weight: 500;
    border-radius: 5px;

  }

  .mid_mobile_view .mobile_view:hover {
    background-color: #464C4F;
    color: #eee;
    border: 1px solid #464C4F;
    /* margin-right: 16px; */
    font-weight: 500;
    border-radius: 5px;
    text-align: center;

  }

}


.navbar .mid {
  display: flex;
  margin-right: 160px;
}

.navbar .navLinks:hover {
  background-color: #464C4F;
  color: #eee;
  border: 1px solid #464C4F;
  margin-right: 16px;
  font-weight: 500;
  border-radius: 5px;
  text-align: center;

}




.navbar .user {
  display: flex;
  align-items: center;
  padding: 8px;
}

.navbar .user span {
  padding: 4px;
  cursor: pointer;

}

.navbar .avatar_user {
  cursor: pointer;
}

.navbar .right {
  display: flex;
  align-items: center;
}

.image_wrap {
  display: flex;
  flex-direction: column;
  /* border: 1px solid; */
  padding: 20px 150px;
  /* box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px; */
}


.image_wrap .left {
  height: 70px;
  /* border: 1px solid; */
  justify-content: center;
  align-items: center;
  display: flex;
  /* margin: 0 50px; */
  /* padding: 0 10px; */

}

.image_wrap_heading {
  /* border: 1px solid; */
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  padding: 30px;
  border-radius: 16px;
}

.image_wrap_heading .demo_images {
  display: flex;
  height: 300px;
  justify-content: center;
  align-items: center;
}

.image_wrap_heading .demo_text {
  /* border: 1px solid; */
  width: 600px;
  height: 90px;
}

.image_wrap_heading .demo_img {
  /* border: 1px solid; */
  width: 300px;
  height: 300px;
  margin: 0 0 0 20px;
  border-radius: 10px;
}

.image_wrap_heading {
  margin: 10px 0 100px 0;
}

.image_wrap h1 {
  font-size: 38px;
  /* font-family: ; */
  font-weight: 500;
  color: #36454f;
}

.image_wrap_heading h3 {
  color: #6d6d6d;
}

.image_wrap .left input {
  height: 50px;
  padding: 17px;
  width: 80%;
  margin-right: 3px;

}

.image_wrap .image {
  flex-basis: 30%;
}

.image_wrap .left .genbtn {
  height: 50px;
  background-color: #6f88fc;
  color: #eee;
  font-weight: 400;
  border-radius: 7px;
  margin: 0 0 0 10px;
  padding: 10px;
  cursor: pointer;
  width: 20%;
}

@media (max-width:800px) {
  .image_wrap {
    /* border: 2px solid red; */
    flex-direction: column;
    padding: 20px 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .image_wrap .demo_images {
    flex-direction: column;
    width: 90%;
    /* border: 1px dashed green; */
    margin: 20px 0;
  }

  .image_wrap .demo_images img {
    /* flex-direction: column; */
    width: 90%;
  }

  .image_wrap_heading {
    width: 90%;
    /* border: 1px solid black; */
    margin: 0;
    height: 600px;
    padding: 30px;
  }

  .left .input-field {
    width: 70% !important;
    /* border: 2px solid; */
  }

  .image_wrap .left button {
    width: 130px !important;
    padding: 10px !important;
    /* height: 0px !important; */
  }

  .image_wrap h1 {
    font-size: 30px;
    /* font-family: ; */
    font-weight: 500;
    color: #36454f;
    margin-bottom: 10px;
  }

  .image_wrap_heading h3 {
    color: #6d6d6d;
    font-size: 14px;
  }

}

.notgenbtn {
  height: 50px;
  /* background-color: #6f88fc; */
  background-color: #EFDDF6;
  color: #eee;
  font-weight: 400;
  border-radius: 7px;
  margin: 0 0 0 10px;
  padding: 10px;
  cursor: pointer;
  width: 20%;
  border: 1px solid #eee !important;
}

.input-container {
  margin-bottom: 10px;
}

.input-field {

  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 17px;
  outline: none;
  width: 100%;
}

.input-field:focus {
  border-color: #007bff;
}

.image_wrap .image {
  display: flex;
  flex-direction: column;
  /* border: red 1px solid; */
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;

}

.inner_img_wrap img {
  border-radius: 10px;
  height: 450px;
  width: 450px;
  /* border: 1px solid; */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}


.inner_img_wrap span {
  display: flex;
  justify-content: center;
  align-items: center;

}

.inner_img_wrap {
  margin: 20px 0;
}

.inner_img_wrap .img_btn {
  /* border: 1px solid; */
  margin: 10px 10px 10px 0;

}

.inner_img_wrap p {
  margin-right: 3px;
}



.inner_img_wrap div {
  display: flex;
}




/* ########### hero ###########  */


.hero {
  display: flex;
  /* border: 1px solid; */
  height: 87vh;
  justify-content: center;
  align-items: center;
}

@media (max-width:800px) {
  .hero {
    flex-direction: column;
  }


  .hero .left h1 {
    font-size: 50px !important;

  }
}

.hero .left h1 {
  font-size: 90px;
  color: #111;
  /* font-family: 'Monoton', cursive; */
  font-family: 'Rubik Dirt', cursive;
  font-weight: 400;
}

.hero .left p {
  color: #423d3d;
  margin: 10px 0;
}

.hero .left button {
  border: 1px solid #000;
  margin: 10px 10px 10px 0px;
  color: #000;
  border-radius: 7px;
  width: 170px;
  font-weight: 500;
  padding: 12px 10px;

}

.hero #getStarted {
  background-color: #0063DA;
  color: #fff;
  border: 1px solid #0063DA;

}

.hero .right img {
  height: 400px;

}

/* ########### Service ##############  */

.Service {
  display: flex;
  /* border: 1px solid; */
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-direction: column;
}

.box_buttons {
  display: flex;
  /* justify-content:center; */
  align-items: center;

}

.box_buttons .box_buttons_link {
  margin: 10px 10px 10px 0;
}

.Service .box {
  width: 73%;
  /* border: 1px solid; */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 20px;
  padding: 20px;
  margin: 100px 0;
  height: 550px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: #EBF5EF; */
  background: #9796f0;

  background: -webkit-linear-gradient(to right, #fbc7d4, #9796f0);

  background: linear-gradient(to right, #fbc7d4, #9796f0);

  /* background-color: #2F1444; */

}

.box h2 {
  font-size: 30px;
  margin: 10px 0;

}

.box p {
  color: #6d6e6f;
}

.Service .text {
  width: 40%;
}

.Service .box .image {
  /* height: 100%; */

  display: flex;
  justify-content: center;
  align-items: center;
}

.Service .box .image img {
  height: 300px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
  border-radius: 10px;
  width: 100%;

}

.Service .text .tryNow {
  background-color: #1D1D28;
  color: #eee;
  width: 150px;
  padding: 15px 16px;
  margin: 10px 0;
}

@media (max-width:800px) {
  .Service {
    /* border: 1px solid red; */

  }

  .Service .text {
    width: 100%;
  }

  .Service .box {
    /* border: 1px solid gray; */
    width: 96%;
    flex-direction: column;
    height: 700px;
    justify-content: center !important;


  }

  .Service .box .image img {

    width: 100%;
    /* border: 1px solid; */
    margin: 0 !important;
    height: 280px;

  }

  .Service .box .image {}

  .box_buttons .box_buttons_link button {
    /* height: 100%; */
    /* overflow: hidden; */
    padding: 10px !important;
  }

  .box_buttons .box_buttons_link .fab {
    /* height: 100%; */
    height: 45px !important;
    width: 45px !important;
    /* overflow: hidden; */
    /* padding: 10px !important; */
  }
}


.loading-spinner {
  width: 30px;
  height: 30px;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}



.loading-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(187, 186, 186, 0.5);
  /* Adjust the background color and opacity as needed */
  z-index: 9999;
  /* Ensure the overlay appears above other content */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


/* ############### sroll ############# */

.scroll-indicator {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
}

.mouse {
  width: 40px;
  height: 60px;
  border: 2px solid #000;
  border-radius: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: scrollAnimation 1.5s infinite ease-in-out;
}

.wheel {
  width: 10px;
  height: 10px;
  background-color: #000;
  border-radius: 50%;
  position: absolute;
  bottom: 5px;
  animation: wheelAnimation 1.5s infinite ease-in-out;
}

.scroll-indicator.show {
  display: block;
}

.scroll-indicator.hide {
  display: none;
}

@keyframes scrollAnimation {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes wheelAnimation {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* ############### LOGIN Auth ###############  */

.Auth {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid; */
  height: 80vh;
}

.Auth_container {
  padding: 30px;
  width: 320px;
  height: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid; */
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  flex-direction: column;

}

.form_login {
  display: flex;
  flex-direction: column;
  width: 100%;

}

.form_login input {}

.form_login input {

  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 15px;
  outline: none;
  width: 100%;
  padding: 12px 10px;
  margin: 10px 0;
}

.form_login input:focus {
  border-color: #007bff;
}

.login_icons p {
  display: flex;
  /* border: 1px solid; */
  background-color: #DB4437;
  color: #fff;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
}

.login_icons {
  width: 100%;

}

.login_icons span {
  margin-left: 4px;
}

.or p {
  margin-top: 10px;
  font-size: 12px;
  color: #535151;

}

.Auth_container button {
  margin: 10px 0;
}

.already p {
  font-size: 13px;
  color: #007bff;
  cursor: pointer;
}


/* ############## image tagging ##############   */


.image_tagging {
  /* border: 1px solid; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* padding: 60px 0; */
  /* height: 100vh; */
  padding: 60px 100px;
}

.image_tagging_header {
  background: #9796f0;

  background: -webkit-linear-gradient(to right, #fbc7d4, #9796f0);

  background: linear-gradient(to right, #fbc7d4, #9796f0);

  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  margin: 10px 0 40px 0;
  padding: 40px;
  border-radius: 10px;
}

.image_tagging h1 {
  /* font-family: 'Cinzel', serif; */
  text-transform: uppercase;
  font-weight: 400;
  color: var(--light_black);

}

.image_tagging .drop_box {
  height: 330px;
  width: 330px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px dashed #ccc;
  padding: 20px;
  margin: 20px 0;
  border-radius: 5px;

}

.image_tagging .table {
  border-collapse: collapse;
}

.image_tagging #btn {
  padding: 10px;
  margin: 5px 0 20px 0;

}


@media (max-width:800px) {
  .image_tagging {
    /* border: 2px solid green; */
    padding: 30px 7px;
    margin: 20px 0;
  }

  .image_tagging .image_tagging_header {
    width: 95%;
    margin: 0 !important;
  }

  .image_tagging_header h1 {
    text-transform: capitalize;
    font-size: 23px;
    margin-bottom: 10px;
  }

}

/* ######### news wrappar ##########  */


.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 345px));
  gap: 30px;
  justify-content: center;
  /* flex-direction: row; */
  /* height: 100vh; */
}

.grid-item small {
  color: var(--light_black)
}

.grid-item {
  max-width: 345px;
  padding: 5px;
  /* border: 1px solid #ccc; */
  text-align: center;
  height: 510px;
}

.grid-item h3 {
  margin: 6px 0;
}

.news_wrapper {
  /* border: 1px solid; */
  /* height: 100vh; */
  /* display: flex; */
  justify-content: center;
  align-content: center;
}

.news_wrap {
  /* border: 1px solid; */
  padding: 20px;
}

.news_top_header {
  /* border: 1px solid red; */
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  margin: 5px 0 13px 0;

}

.news_top_header button {
  text-align: center;
  border: 1px solid;
  margin: 10px 0;
}

.news_top_header h1 {
  color: #0063DA;
  text-transform: uppercase;
  margin: 10px 0;
  text-align: center;
}

.news_top_header p {
  color: var(--light_black);
}


.footer_wrap {
  /* border: 1px solid; */
  /* box-shadow: 0.1 0.2 0 0.5; */
  margin: 100px 0 0 0;
  /* height: 100px; */
  background-color: #666565;
  /* color: #eee; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 100px;
  /* width: 100%; */
  /* position: fixed; */
  bottom: 0;
  left: 0;
  width: 100%;
  color: #ddd;

}

.footer_wrap .up {
  display: flex;
  justify-content: space-between;
  width: 100%;

}

.footer_wrap .down {
  display: flex;
  justify-content: space-between;
  width: 100%;

}

.footer_wrap .anchor_links a {
  padding: 6px;
  color: #0a2d58;

}

.footer_wrap .bold_dot {
  font-weight: bold;
}

.footer_wrap hr {
  border: .01px solid #ccc;
  width: 100%;
  margin: 10px 0;

}

.footer_wrap h4 {
  margin-bottom: 7px;
}

.footer_wrap a {

  text-decoration: none;
  color: #eee;
}

.footer_wrap h3 {
  text-transform: uppercase;
}

.footer_wrap .social_icons .icons {
  border: 2px solid;
  /* color: #1EBEA5;
  
   */
  margin: 0 7px;
  font-size: 28px;
  padding: 3px;
  border-radius: 10px;
  cursor: pointer;
}

.footer_wrap .social_icons .w {
  color: #1EBEA5;
}

.footer_wrap .social_icons .g {
  color: #171515;
}

.footer_wrap .social_icons .l {
  color: #106389;
}

.footer_wrap .left img {
  height: 50px;
  width: 50px;
}

@media (max-width:800px) {
  .footer_wrap {
    /* width: 90%; */
    /* margin: auto 10px; */
    /* border: 1px solid red; */
    padding: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .footer_wrap .up {
    flex-direction: column;
    justify-content: center;
    text-align: center;

  }

  .footer_wrap .down {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid; */
    margin: 10px 0;

  }

  .footer_wrap .social_icons {
    margin: 7px 0;
  }

  .footer_wrap p {
    font-size: 14px;
  }
}




.about_wrap ul {
  list-style: none;
}

.plans-section {
  width: 100%;
  padding: 48px 0;
}

.plans-container {
  display: flex;
  grid-template-columns: 1fr;
  gap: 24px;
  padding: 0 16px;
  max-width: 1200px;
  margin: 0 auto;
}

.plan-card {
  width: 400px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.plan-card.dark-bg {
  background-color: #1F2937;
}

.dark-bg .plan-content {
  color: #fff !important;
}

.dark-bg .plan-description {
  color: #fff !important;
}

.plan-content {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.plan-title {
  font-size: 24px;
  font-weight: bold;
}

.plan-description {
  color: #6B7280;
}

.plan-price {
  display: flex;
  align-items: baseline;
  gap: 8px;
}

.price {
  font-size: 32px;
  font-weight: bold;
}

.price-per {
  color: #6B7280;
}

.plan-button {
  width: 100%;
}